# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment folders
venv/
env/
.venv/
Dataset/.env/

# Ignore IDE configuration files (e.g., DataSpell, PyCharm)
.idea/

# Ignore Visual Studio Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

results
venv

# Ignore .env files
Dataset/.env

#Ignore Large Embeddings
RetrievalSystem/Embeddings/
RetrievalSystem/Embeddings/*


